.jumbotron {
	margin-bottom: 0px;
}

.col-sm-4 {
	padding: 15px;
}

.div1 {
	background-color: rgb(200, 200, 200);
	border-radius: 25px;
}

.clicked {
	background-color: rgba(0, 0, 0, 0);
}


@media only screen and (min-width: 768px) {
	#container1 {
		padding-right: 30px;
	}
}
@media only screen and (min-height: 601px) {
	.div1 {
		height: 100px;
	}
}
@media only screen and (min-height: 501px) and (max-height: 600px){
	.div1 {
		height: 75px;
	}
}
@media only screen and (min-height: 401px) and (max-height: 500px) {
	.div1 {
  		border-radius: 15px;
    	height: 50px;
	}
}
@media only screen and (max-height: 400px) {
	.div1 {
		border-radius: 10px;
		height: 25px;
	}
	.col-sm-4 {
		padding: 5px;
	}
}